
$color-primary-dark: #006D70;
$color-primary: #B8C1CB;

$color-primary-light-1: #A1DBF1;
$color-primary-light-2: #E4F4F3;

$color-white: #ffffff;

$color-black: #373A40;

$color-grey: #797979;

$color-text-primary: #616b80;

