.about-covid{
    margin: 30px 0;
    background-color: #eeeeee;

    .presentation-info {
        text-align: center;
    
        .presentation-text {
          text-align: center;
          color: #524b4b;
          margin: 30px 0;
        }
      }
}